body{
	background-image:url("assets/img/slide2.jpg");
	background-color: black;
	height: auto;
}


h2, p{
	color: white;
	text-align:center;
	margin-top: 10px;
}

td{
	background-color: white;
}

#location-form{
	width: 100%;
}

.shot{
background-color: #d3d3d3;
height: 20px;
width: 20px;
border-radius: 5px;
}

#results{
	width:100%;
	margin-bottom: 20px;
	overflow-y:scroll; 
	height:500px;
}

#table{
	width:100%;
	margin-bottom: 20px;
	overflow-y:scroll; 
	height:500px;
	padding-top: 10px;
	border-radius: 5px;
	

}

.container{
	width:75%;
	height: auto;
}

th{
	background-color: navy;
	text-align: center;
	color: white;
	padding:3px;
}

td{
	text-align: center;
}

#map{
	margin: 10px 0px 10px 0px;
}

.jumbotron{
	text-align: center;
	margin-bottom: 10px;
}

.display{
	border: 1px solid gray;
	padding: 10px;
	margin-bottom:10px;
}

#hideList{
	border-radius: 5px;
	width:75px;
	float:right;
	margin:5px;
	font-size: 70%;
}

#favoritelist{
	float: left;
	width:100%;
	/* text-align: center;  */
}

input{
	width:100%;
}

#list{
	background-color: white;
	width: 50%;
	height: 400px;
	overflow-y: scroll;
	position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin:25px;
    padding: 25px;
    border: 1px solid black;
    border-radius: 10px;
    
}
.listhead{
	font-size: 75%;
}
 h4{
 	width:75%;
 	float: left;
 	margin:0px;
 }

.carousel{
	width: 100%;
	text-align: center;
}

#map{
	height: 200px;
	border-radius: 5px;
	width:500px;
}

img {
	border: 5px;
	margin: 10px;
    position: absolute;
    background-color: #abc;
    left: 50px;
    width: 200px;
    height: 240px;
    margin: 5px;
  }